

$tex_nun: (
    "nunito sans", sans-serif
);

$tex_wei_black: (
    900
);

$tex_wei_bold: (
    600
);

$tex_wei_regular: (
    400
);

$tex_wei_light: (
    200
);

$tex_hard: (
    3.5rem
);

$tex_medium: (
    1.7rem
);

$tex_small: (
    1.3rem
);

p {
    font-family: $tex_nun;
    font-size: $tex_medium;
}

h1 h2 h3 {
    font-family: $tex_nun;
}